@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-white : #FFF;
  --primary-black : #000;
  --primary-grey  : #b3b3b3;
  --primary-font : 'Poppins',sans-serif;
}


body {
  margin: 0;
  font-family: var(--primary-font),-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* ===================== Navbar ============================= */
.navbar {
  height: 8vh;
  background-color: var(--primary-white);
  color: var(--primary-black);
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  flex-direction: row;
}

.navbar .nav-center ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-center ul li{
  display: inline;
  margin-left: 15px;
}

.navbar .nav-center ul li a{
  text-decoration: none;
  color: var(--primary-black);
}

.navbar .nav-right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar .nav-right ul li{
  display: inline;
  margin-left: 15px;
}

.navbar .nav-right ul li a{
  text-decoration: none;
  padding:5px 15px;
  margin: 5px;
  color: var(--primary-black);
  border-radius: 50px;
  border: #000 solid;
}

.navbar .nav-right ul li a:hover{
  transition: ease-in 0.3s;
  padding:8px 18px;
}

.navbar .nav-right ul li #signin-btn{
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.active{
  font-weight: 600;
}

/* =========================== Home Component ======================== */
.home{
  display:flex;
  justify-content: center;
  flex-direction: row;
  height: 78vh;
}

.home-content {
  width: 40%;
  height: 100%;
  text-align: left;
  align-items: center;
}

.tagline{
  font-size: 75px;
  font-weight: 700;
}

.home-image{
  background: url('./Assets/Add\ notes.gif');
  background-size: cover;
}


/* ============= Footer ======================== */
.footer{
  margin-top: auto;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  background-color: var(--primary-white);
  
}

.social-links{
  display: flex;
  justify-content: center;
}

.social-icon{
  padding: 10px;
  font-size: 25px;
}

.heart{
  color: red;
}

/* SIGNIN CSS */
.signin-main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.signin-form{
  height: auto;
  width: 30%;
  padding: 20px 0px;
  border-radius: 50px;
  background-color: var(--primary-white);
  border: 2px solid #000;
}

.signin-form .form-ele{
  width: 100%;
  margin: 30px 10px;
  
  justify-content: center;
}



.input-form{
  padding: 5px 10px;
  width: 100px;
  background-color: transparent;
  color: var(--primary-black);
  font-family: var(--primary-font);
  font-size: 16px;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #232323;
}

.input-form:focus{
  transition: ease-in;
  border-bottom: 2px solid black;
}

input[type=submit]{
  border: none;
  font-size: large;
  padding: 15px 30px;
  border-radius: 20px;
  margin-top: 15px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  font-family: var(--primary-font);
}

.logo-form-link{
  text-decoration: none;
  color: var(--primary-black);
}